@import url('https://fonts.googleapis.com/css?family=Arimo');


.form-left-side {
}

.form-right-side {
}

.contact-title {
    font-size: 2em;
    font-family: 'Arimo', cursive;
}

.form-contact-style input  {
    width: 400px;
    border-radius: 1px;
    border: none;
    height: 40px;
    text-indent: 10px;
}

.form-contact-style textarea {
    width: 400px;
    border-radius: 1px;
    border: none;
    height: 160px;
    text-indent: 10px;
}

.bloc_1{
    position: absolute;
    top: 50%;
    width: 100%;
}

.container-header {
    width: 100%;
    height: 750px;
    position: relative;
    background-image: url('../images/aboutme.jpg');
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    -webkit-filter: brightness(50%);
}

.container-header-contact {
    width: 100%;
    height: 840px;
    position: relative;
    background-image: url('../images/contact.jpg');
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    -webkit-filter: brightness(50%);
}

.container-header-album {
    width: 100%;
    height: 840px;
    position: relative;
    background-image: url('../images/lac-cauteret.jpg');
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    -webkit-filter: brightness(50%);
}

.img-header {
    width:100%;
    -webkit-filter: brightness(50%);
    height:auto;
}

@media all and (max-width: 850px){
    .img-header {
        width: 100%;
    }
    .form-contact-style textarea {
        width: 300px;
    }
    .form-contact-style input {
        width: 300px;
    }
    .container-header {
        max-heigh: 100%;
    }
}

@media all and (max-width: 767px){
    .img-header {
        width: 100%;
    }
    .bloc_1 {
        top:23%;
    }
    .container-header {
        max-heigh: 100%;
    }
    .form-contact-style {
        text-align: center!important;
    }
}