/*--------------------------------------------------------------
Navigation Menu
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase');
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=Arimo');

@font-face {
    font-family: 'venus';
    src: url('../font/venus.ttf');
}

html{
    min-height:100%;
}

body{ min-height:100%; padding:0; margin:0; position:relative; }

/* Trick: */
body {
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}


.bg-dark{
    background-color: rgba(0, 0, 0, 0.71) !important;
}

.red{
    color:red;
}

.navbar-toggler {
    background-color: rgba(0, 0, 0, 0.71);
    border-color: rgba(255, 255, 255, 0.61) !important;
}

    /* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}

.carousel-item img{
    width: 100% ;
    height: auto;
}
.text-box-homepage{
    position:absolute;
    top:40%;
    width: 100%;
    z-index:2;
    color: white;
    text-align: center;
    font-weight: 200;
    z-index: 999999;
}

.text-box{
    position:absolute;
    top:40%;
    width: 100%;
    z-index:2;
    color: white;
    text-align: center;
    font-weight: 200;
    z-index: 999999;
}

.text-box-2 {
    position:absolute;
    top:15%;
    width: 100%;
    z-index:2;
    color: white;
    text-align: center;
    font-weight: 200;
    z-index: 999999;
}

.text-box-3 {
    position:absolute;
    top:15%;
    width: 100%;
    z-index:2;
    color: white;
    text-align: center;
    font-weight: 200;
    z-index: 999999;
}

h1 {
    font-family: 'Audiowide', cursive;
    text-shadow: 0 0 12px rgb(196, 196, 196);

}

h2{
    font-size: 8em;
    font-family: 'Audiowide', cursive;
    text-shadow: 0 0 12px rgb(196, 196, 196);
}

h3{
    font-size: 5vw;
    font-family: 'Arimo', cursive;
}

hr{
    border: 1px solid #FF0092;
    width: 25%;
}

p{
    font-family: 'Arimo', cursive;
}

.nav-link{
    font-family: 'Arimo', Arial;
}
.navbar-brand{
    font-family: 'Arimo', Arial;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.36);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
}


.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: rgba(91, 91, 91, 0.59);}

.dropdown-content a {
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
}

.image {
    width: 100%;
    height: 750px;
    position: relative;
    background-image: url('../images/drone-lacanau.jpg');
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.image:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(127, 127, 127, 0.21);
    background-image: radial-gradient(rgba(0, 0, 0, 0.42) 33%, transparent 33%);
    background-size: 2px 2px;
}

.image2 {
    width: 100%;
    height: 750px;
    position: relative;
    background: url('../images/tennis.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.image2:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(127, 127, 127, 0.21);
    background-image: radial-gradient(rgba(0, 0, 0, 0.51) 33%, transparent 33%);
    background-size: 2px 2px;
}

nav .navbar {
    z-index: 99999;
}

#navbar {
    padding-bottom: 0;
}
 .carousel-inner{
    z-index: 1;
     height: 750px;
}


.title-header {
    position: absolute;
    z-index: 1;
}

.contact-title {
    color: white;
    font-family: 'Arimo', 'Arial';
}

.btn-primary {
    color: #fff;
    background-color: #557394;
    border-color: #557394;
}



@media (max-width: 991px) {
    .padding-bottom-hover:hover {
        padding-bottom: 110px!important;
    }
}

@media (max-width: 767px) {
    .padding-bottom-hover:hover {
        padding-bottom: 110px !important;
    }
    h2 {
        font-size: 50px;
    }
    .text-box-homepage {
        top: 20%;
        font-size: 50px;
    }

    .text-box {
        top: 20%;
        font-size: 50px;
    }

    .text-box-2 {
        top: 7%;
    }

    .text-box-3 {
        top: 9%;
    }
}


.p-0 {padding:0!important}.pt-0 {padding-top:0!important}.pr-0 {padding-right:0!important}.pr-20 {padding-right:20px!important}.pr-40 {padding-right:40px!important}.pr-60 {padding-right:20px!important}.pl-10 {padding-left:10px!important}.pl-20 {padding-left:20px!important}.pl-30 {padding-left:30px!important}.pl-40 {padding-left:40px!important}.pl-60 {padding-left:60px!important}.pl-70 {padding-left:20px!important}.pl-80 {padding-left:80px!important}.pl-100 {padding-left:100px!important}.pl-0 {padding-left:0!important}.pt-10 {padding-top:10px!important}.pt-20 {padding-top:20px!important}.pt-30 {padding-top:30px!important}.pt-40 {padding-top:40px!important}.pt-50 {padding-top:50px!important}.pt-60 {padding-top:60px!important}.pt-70 {padding-top:70px!important}.pt-100 {padding-top:100px!important}.pt-120 {padding-top:120px!important}.pt-140 {padding-top:140px!important}.pb-0 {padding-bottom:0!important}.pb-10 {padding-bottom:10px!important}.pb-20 {padding-bottom:20px!important}.pb-30 {padding-bottom:30px!important}.pb-40 {padding-bottom:40px!important}.pb-50 {padding-bottom:50px!important}.pb-60 {padding-bottom:60px!important}.pb-70 {padding-bottom:70px!important}.pb-100 {padding-bottom:100px!important}.pb-120 {padding-bottom:120px!important}.pb-140 {padding-bottom:140px!important}.m-0 {margin:0!important}.mt-0 {margin-top:0!important}.mt-5 {margin-top:5px!important}.mt-10 {margin-top:10px!important}.mt-20 {margin-top:20px!important}.mt-30 {margin-top:30px!important}.mt-40 {margin-top:40px!important}.mt-50 {margin-top:50px!important}.mt-60 {margin-top:60px!important}.mt-70 {margin-top:70px!important}.mt-80 {margin-top:80px!important}.mt-90 {margin-top:90px!important}.mt-100 {margin-top:100px!important}.mb-0 {margin-bottom:0!important}.mb-10 {margin-bottom:10px!important}.mb-20 {margin-bottom:20px!important}.mb-30 {margin-bottom:30px!important}.mb-40 {margin-bottom:40px!important}.mb-50 {margin-bottom:50px!important}.mb-60 {margin-bottom:60px!important}.mb-70 {margin-bottom:70px!important}.mb-80 {margin-bottom:80px!important}.mb-90 {margin-bottom:90px!important}.mb-100 {margin-bottom:100px!important}.ml-15 {margin-left:15px!important}.mr-15 {margin-right:15px!important}
