{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <section class="">
        <div class="container-header"></div>
        <div class="img_caption">
            <h2 class="text-box title-header text-center">Album<hr></h2>
        </div>
    </section>
    <section>

    </section>

{% endblock %}